*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body{
    min-height: 100vh;   /* ensures body takes full viewport height */
    display: flex;      /* enables flexbox layout */
    flex-direction: column; /* stacks child elements vertically */
    /* generic project styles */
    color: #3a3a3a
}
/*Header*/
header{
    background-color:lightcoral;
}
/*main*/
main{
    background-color:lightblue;
    flex: 1 0 auto; /* allows main to grow and fill available space, take any surplus space */
}
/*footer*/
footer{
    background-color: orange;
}