/*google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz@0,18..144;1,18..144&family=Oswald:wght@200..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body{
    min-height: 100vh;   /* ensures body takes full viewport height */
    display: flex;      /* enables flexbox layout */
    flex-direction: column; /* stacks child elements vertically */
    /* generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
/*Header*/
header{
    background-color:#ffffff;
    padding: 0 1rem; /* horizontal padding */
    position: fixed; /* Fixes header to the top of the viewport */
    z-index: 99; /* Ensures header stays above other content */
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

h1{
    font-family: 'Oswald', sans-serif;
}
/*main*/
main{
    background-color:lightblue;
    flex: 1 0 auto; /* allows main to grow and fill available space, take any surplus space */
}
/*footer*/
footer{
    background-color: orange;
}